# Task 3 of Project

You will explore problems with restaurants in NYC. You will analyze data from multiple data sets, e.g., 311 food poisoning complaints, restaurant inspections, and attempt to better understand the problem. For example, is there a correlation between FOOD POISONING complaints in 311 and restaurant inspections? Does the weather contribute to an increase or decrease in complaints? Are there areas in the City that receive more
complaints? Is there a correlation between complaints in different areas and the indicators for these areas (e.g., income, education level)?

In [36]:
import numpy as np
import pandas as pd
import dateutil.parser as parser

Import data of 311 complaints, restaurant inspections and people's poverty condition data

In [27]:
food_problems = pd.read_csv('task3_data/food_problems.csv')
food_inspect = pd.read_csv('task3_data/food_inspect.csv')
poverty = pd.read_csv('task3_data/poverty.csv')

In [33]:
food_problems['date']

        Unnamed: 0                    date        borough                type
0                0  06/09/2004 12:00:00 AM      MANHATTAN  Food Establishment
1                1  05/22/2004 12:00:00 AM          BRONX  Food Establishment
2                2  09/21/2004 12:00:00 AM          BRONX  Food Establishment
3                3  06/04/2004 12:00:00 AM       BROOKLYN  Food Establishment
4                4  08/26/2004 12:00:00 AM          BRONX  Food Establishment
5                5  08/02/2004 12:00:00 AM      MANHATTAN  Food Establishment
6                6  06/20/2004 12:00:00 AM          BRONX  Food Establishment
7                7  07/02/2004 12:00:00 AM      MANHATTAN  Food Establishment
8                8  08/02/2004 12:00:00 AM       BROOKLYN  Food Establishment
9                9  08/09/2004 12:00:00 AM      MANHATTAN  Food Establishment
10              10  07/07/2004 12:00:00 AM         QUEENS  Food Establishment
11              11  07/12/2004 12:00:00 AM         QUEENS  Food Establishment
12              12  08/16/2004 12:00:00 AM  STATEN ISLAND  Food Establishment
13              13  12/09/2004 12:00:00 AM  STATEN ISLAND  Food Establishment
14              14  11/22/2004 12:00:00 AM      MANHATTAN  Food Establishment
15              15  10/05/2004 12:00:00 AM      MANHATTAN  Food Establishment
16              16  08/16/2004 12:00:00 AM      MANHATTAN  Food Establishment
17              17  11/24/2004 12:00:00 AM  STATEN ISLAND  Food Establishment
18              18  12/13/2004 12:00:00 AM      MANHATTAN  Food Establishment
19              19  09/30/2004 12:00:00 AM          BRONX  Food Establishment
20              20  09/21/2004 12:00:00 AM          BRONX  Food Establishment
21              21  12/31/2004 12:00:00 AM         QUEENS  Food Establishment
22              22  12/19/2004 12:00:00 AM         QUEENS  Food Establishment
23              23  05/29/2004 12:00:00 AM          BRONX  Food Establishment
24              24  04/21/2004 12:00:00 AM          BRONX  Food Establishment
25              25  04/22/2004 12:00:00 AM       BROOKLYN  Food Establishment
26              26  04/23/2004 12:00:00 AM      MANHATTAN  Food Establishment
27              27  04/22/2004 12:00:00 AM      MANHATTAN  Food Establishment
28              28  07/13/2004 12:00:00 AM         QUEENS  Food Establishment
29              29  05/18/2004 12:00:00 AM          BRONX  Food Establishment
...            ...                     ...            ...                 ...
162662      162662  04/06/2010 05:39:13 PM      MANHATTAN  Food Establishment
162663      162663  04/06/2010 03:14:50 PM         QUEENS  Food Establishment
162664      162664  04/06/2010 01:38:51 PM       BROOKLYN  Food Establishment
162665      162665  04/06/2010 02:27:55 PM          BRONX  Food Establishment
162666      162666  04/06/2010 04:09:18 PM         QUEENS      Food Poisoning
162667      162667  04/06/2010 08:00:50 PM      MANHATTAN  Food Establishment
162668      162668  04/06/2010 04:34:34 PM       BROOKLYN      Food Poisoning
162669      162669  04/06/2010 04:40:05 PM       BROOKLYN  Food Establishment
162670      162670  04/06/2010 04:41:02 PM          BRONX  Food Establishment
162671      162671  04/06/2010 09:00:22 PM      MANHATTAN  Food Establishment
162672      162672  04/06/2010 09:48:03 AM      MANHATTAN  Food Establishment
162673      162673  04/06/2010 01:09:48 PM      MANHATTAN  Food Establishment
162674      162674  04/06/2010 12:50:48 PM         QUEENS      Food Poisoning
162675      162675  04/06/2010 01:18:31 PM      MANHATTAN  Food Establishment
162676      162676  04/06/2010 01:08:38 PM       BROOKLYN  Food Establishment
162677      162677  04/06/2010 12:43:36 PM       BROOKLYN  Food Establishment
162678      162678  04/06/2010 09:59:05 AM         QUEENS  Food Establishment
162679      162679  04/06/2010 02:57:22 PM          BRONX  Food Establishment
162680      162680  04/06/2010 04:37:32 PM      MANHATTAN  Food Establishment
162681      162681  04/06/2010 09:31:00 AM         QUEENS  Food Establishment
162682      162682  04/06/2010 10:41:55 AM         QUEENS      Food Poisoning
162683      162683  04/06/2010 07:36:41 AM      MANHATTAN  Food Establishment
162684      162684  04/06/2010 01:45:57 PM      MANHATTAN      Food Poisoning
162685      162685  04/06/2010 06:11:57 PM      MANHATTAN  Food Establishment
162686      162686  04/06/2010 09:28:26 AM       BROOKLYN  Food Establishment
162687      162687  04/06/2010 11:15:45 AM         QUEENS      Food Poisoning
162688      162688  04/06/2010 11:21:49 AM          BRONX  Food Establishment
162689      162689  04/06/2010 12:02:24 PM       BROOKLYN  Food Establishment
162690      162690  04/06/2010 09:24:00 AM      MANHATTAN  Food Establishment
162691      162691  04/06/2010 11:05:15 AM      MANHATTAN      Food Poisoning

[162692 rows x 4 columns]

In [34]:
display(food_inspect)

        Unnamed: 0           BORO        DATE GRADE
0                0      MANHATTAN  05/04/2018   NaN
1                1      MANHATTAN  07/30/2019     B
2                2      MANHATTAN  06/14/2017   NaN
3                3      MANHATTAN  05/09/2019     A
4                4          BRONX  09/07/2016     A
5                5         QUEENS  05/02/2017     A
6                6      MANHATTAN  04/14/2016     A
7                7         QUEENS  03/21/2017   NaN
8                8       BROOKLYN  04/18/2019     A
9                9      MANHATTAN  06/07/2017   NaN
10              10      MANHATTAN  11/07/2018     A
11              11      MANHATTAN  05/16/2019     A
12              12       BROOKLYN  12/27/2017     A
13              13      MANHATTAN  03/23/2017     A
14              14         QUEENS  11/17/2016   NaN
15              15  STATEN ISLAND  07/03/2018     A
16              16          BRONX  04/02/2019     A
17              17         QUEENS  06/29/2016     B
18              18      MANHATTAN  12/08/2017     A
19              19      MANHATTAN  11/02/2017     A
20              20      MANHATTAN  10/06/2016   NaN
21              21      MANHATTAN  10/31/2018   NaN
22              22          BRONX  01/03/2018     A
23              23      MANHATTAN  10/30/2017     B
24              24         QUEENS  08/01/2019   NaN
25              25      MANHATTAN  04/03/2019   NaN
26              26          BRONX  03/12/2018     A
27              27      MANHATTAN  01/18/2019     A
28              28      MANHATTAN  10/13/2016     A
29              29      MANHATTAN  09/01/2017   NaN
...            ...            ...         ...   ...
386525      386525          BRONX  06/17/2019     A
386526      386526       BROOKLYN  08/05/2019   NaN
386527      386527         QUEENS  07/02/2018     C
386528      386528          BRONX  09/11/2019     Z
386529      386529       BROOKLYN  03/23/2017   NaN
386530      386530          BRONX  08/13/2018     P
386531      386531         QUEENS  08/18/2018   NaN
386532      386532         QUEENS  04/06/2018   NaN
386533      386533      MANHATTAN  06/06/2017   NaN
386534      386534       BROOKLYN  09/12/2018   NaN
386535      386535      MANHATTAN  12/11/2018   NaN
386536      386536       BROOKLYN  11/05/2018   NaN
386537      386537         QUEENS  09/06/2018   NaN
386538      386538       BROOKLYN  08/01/2017   NaN
386539      386539         QUEENS  01/06/2019     A
386540      386540      MANHATTAN  11/08/2017     A
386541      386541         QUEENS  04/12/2018     A
386542      386542          BRONX  09/07/2017   NaN
386543      386543      MANHATTAN  05/22/2019   NaN
386544      386544       BROOKLYN  08/11/2016     A
386545      386545       BROOKLYN  12/04/2017     B
386546      386546         QUEENS  12/17/2018     B
386547      386547         QUEENS  01/31/2018   NaN
386548      386548         QUEENS  05/10/2018   NaN
386549      386549          BRONX  08/10/2017     A
386550      386550      MANHATTAN  09/14/2016     A
386551      386551  STATEN ISLAND  03/13/2019   NaN
386552      386552         QUEENS  11/07/2016   NaN
386553      386553  STATEN ISLAND  06/01/2016   NaN
386554      386554       BROOKLYN  07/12/2018     A

[386555 rows x 4 columns]

In [35]:
display(poverty)

,Unnamed: 0,Boro,EducAttain,PreTaxIncome_PU,Off_Pov_Stat,year
0,0,BROOKLYN,3.0,0.00000,1,2005
1,1,BROOKLYN,1.0,3669.08000,1,2005
2,2,BROOKLYN,1.0,4076.76000,1,2005
3,3,BROOKLYN,1.0,7236.25000,1,2005
4,4,QUEENS,2.0,45965.47000,2,2005
5,5,QUEENS,1.0,45965.47000,2,2005
6,6,BRONX,2.0,61151.40000,2,2005
7,7,BROOKLYN,4.0,91727.10000,2,2005
8,8,BROOKLYN,3.0,91727.10000,2,2005
9,9,BROOKLYN,1.0,91727.10000,2,2005
10,10,BROOKLYN,NaN,91727.10000,2,2005
11,11,BROOKLYN,NaN,91727.10000,2,2005
12,12,BRONX,2.0,10191.90000,1,2005
13,13,BRONX,1.0,10191.90000,1,2005
14,14,MANHATTAN,4.0,63189.78000,2,2005
15,15,BROOKLYN,4.0,42805.98000,2,2005
16,16,BROOKLYN,4.0,20485.72000,2,2005
17,17,BROOKLYN,4.0,20485.72000,2,2005
18,18,QUEENS,NaN,56055.45000,2,2005
19,19,BROOKLYN,4.0,113130.09000,2,2005
20,20,QUEENS,2.0,231865.72000,2,2005
21,21,QUEENS,4.0,231865.72000,2,2005
22,22,QUEENS,2.0,231865.72000,2,2005
23,23,STATEN ISLAND,4.0,181415.82000,2,2005
24,24,STATEN ISLAND,4.0,181415.82000,2,2005
25,25,STATEN ISLAND,1.0,181415.82000,2,2005
26,26,BROOKLYN,4.0,39238.82000,2,2005
27,27,BROOKLYN,4.0,204092.80000,2,2005
28,28,BROOKLYN,3.0,204092.80000,2,2005
29,29,BROOKLYN,1.0,7623.54000,1,2005
...,...,...,...,...,...,...
847330,847330,BROOKLYN,2.0,42874.41360,2,2017
847331,847331,BROOKLYN,4.0,42874.41360,2,2017
847332,847332,BROOKLYN,1.0,10213.00890,1,2017
847333,847333,BRONX,1.0,41114.94474,2,2017
847334,847334,BRONX,1.0,41114.94474,2,2017
847335,847335,BRONX,3.0,41114.94474,2,2017
847336,847336,BRONX,3.0,41114.94474,2,2017
847337,847337,BRONX,3.0,41114.94474,2,2017
847338,847338,STATEN ISLAND,3.0,232775.70780,2,2017
847339,847339,STATEN ISLAND,2.0,232775.70780,2,2017
847340,847340,STATEN ISLAND,4.0,232775.70780,2,2017
847341,847341,STATEN ISLAND,3.0,232775.70780,2,2017
847342,847342,STATEN ISLAND,2.0,232775.70780,2,2017
847343,847343,BROOKLYN,4.0,82917.49800,2,2017
847344,847344,BROOKLYN,4.0,82917.49800,2,2017
847345,847345,QUEENS,4.0,223472.76900,2,2017
847346,847346,QUEENS,4.0,223472.76900,2,2017
847347,847347,BROOKLYN,4.0,91209.24780,2,2017
847348,847348,BROOKLYN,4.0,91209.24780,2,2017
847349,847349,QUEENS,3.0,2325.73470,1,2017
847350,847350,BROOKLYN,3.0,91007.01000,2,2017
847351,847351,BROOKLYN,4.0,91007.01000,2,2017
847352,847352,BROOKLYN,1.0,91007.01000,2,2017
847353,847353,BROOKLYN,1.0,91007.01000,2,2017
847354,847354,BROOKLYN,1.0,91007.01000,2,2017
847355,847355,MANHATTAN,1.0,11021.96010,1,2017
847356,847356,BRONX,4.0,87215.05125,2,2017
847357,847357,BRONX,1.0,87215.05125,2,2017
847358,847358,BRONX,1.0,87215.05125,2,2017
847359,847359,BRONX,NaN,87215.05125,2,2017

In [48]:
borough = ['BROOKLYN', "BRONX", "QUEENS", "MANHATTAN", "STATEN ISLAND"]

In [38]:
food_poison = food_problems[food_problems['type'] == 'Food Poisoning']
food_establishment = food_problems[food_problems['type'] == 'Food Establishment']

In [53]:
food_poison_borough = {boro:food_poison[food_poison['borough'] == boro] for boro in borough}
food_establishment_borough = {boro:food_establishment[food_establishment['borough'] == boro] for boro in borough}

In [52]:
parser.parse('04/06/2010 01:45:57 PM').year
parser.parse('04/06/2010 01:45:57 PM').month

4

In [54]:
food_poison_borough

{'BROOKLYN':         Unnamed: 0                    date   borough            type
 101            101  07/15/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 106            106  08/07/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 129            129  07/26/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 139            139  08/16/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 140            140  08/02/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 141            141  07/28/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 142            142  08/11/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 149            149  09/14/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 164            164  07/08/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 210            210  10/05/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 220            220  09/24/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 302            302  09/02/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 431            431  09/27/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 438            438  10/07/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 444            444  08/16/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 482            482  09/17/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 510            510  05/19/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 603            603  10/04/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 612            612  04/23/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 632            632  06/10/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 696            696  12/29/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 736            736  06/06/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 746            746  11/03/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 754            754  09/24/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 776            776  12/07/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 782            782  10/07/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 783            783  06/28/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 972            972  08/19/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 1021          1021  06/02/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 1076          1076  08/12/2004 12:00:00 AM  BROOKLYN  Food Poisoning
 ...            ...                     ...       ...             ...
 162331      162331  03/20/2010 05:51:15 PM  BROOKLYN  Food Poisoning
 162341      162341  03/20/2010 06:44:00 PM  BROOKLYN  Food Poisoning
 162352      162352  03/21/2010 11:19:33 AM  BROOKLYN  Food Poisoning
 162356      162356  03/22/2010 09:10:44 AM  BROOKLYN  Food Poisoning
 162367      162367  03/23/2010 01:16:51 AM  BROOKLYN  Food Poisoning
 162385      162385  03/22/2010 10:41:23 AM  BROOKLYN  Food Poisoning
 162394      162394  03/23/2010 11:41:48 AM  BROOKLYN  Food Poisoning
 162401      162401  03/23/2010 11:44:14 AM  BROOKLYN  Food Poisoning
 162412      162412  03/23/2010 10:57:57 AM  BROOKLYN  Food Poisoning
 162441      162441  03/30/2010 05:13:05 PM  BROOKLYN  Food Poisoning
 162447      162447  03/30/2010 09:26:47 PM  BROOKLYN  Food Poisoning
 162448      162448  03/30/2010 11:50:07 PM  BROOKLYN  Food Poisoning
 162450      162450  03/30/2010 12:27:53 PM  BROOKLYN  Food Poisoning
 162461      162461  03/31/2010 04:16:13 PM  BROOKLYN  Food Poisoning
 162476      162476  04/01/2010 03:38:42 PM  BROOKLYN  Food Poisoning
 162482      162482  04/01/2010 01:47:32 PM  BROOKLYN  Food Poisoning
 162493      162493  04/01/2010 03:56:30 PM  BROOKLYN  Food Poisoning
 162498      162498  04/01/2010 04:11:23 PM  BROOKLYN  Food Poisoning
 162499      162499  04/01/2010 10:12:41 PM  BROOKLYN  Food Poisoning
 162500      162500  04/01/2010 11:25:28 AM  BROOKLYN  Food Poisoning
 162529      162529  03/27/2010 11:53:57 AM  BROOKLYN  Food Poisoning
 162537      162537  03/26/2010 12:32:45 PM  BROOKLYN  Food Poisoning
 162578      162578  03/29/2010 04:37:16 PM  BROOKLYN  Food Poisoning
 162596      162596  03/29/2010 10:12:31 AM  BROOKLYN  Food Poisoning
 162602      162602  04/02/2010 09:54:13 PM  BROOKLYN  Food Poisoning
 162609      162609  04/03/2010 04:50:26 PM  BROOKLYN  Food Poisoning
 162618      162618  04/03/2010 08:04:19 PM  BROOKLYN  Food Poisoning
 162641      162641  04/05/2010 04:48:20 PM  BROOKLYN  Food Poisoning
 162653      162653  04/05/2010 09:13:14 AM  BROOKLYN  Food Poisoning
 162668      162668  04/06/2010 04:34:34 PM  BROOKLYN  Food Poisoning

 [9378 rows x 4 columns],
 'BRONX':         Unnamed: 0                    date borough            type
 82              82  05/11/2004 12:00:00 AM   BRONX  Food Poisoning
 146            146  09/16/2004 12:00:00 AM   BRONX  Food Poisoning
 151            151  11/19/2004 12:00:00 AM   BRONX  Food Poisoning
 153            153  12/29/2004 12:00:00 AM   BRONX  Food Poisoning
 418            418  09/16/2004 12:00:00 AM   BRONX  Food Poisoning
 762            762  08/13/2004 12:00:00 AM   BRONX  Food Poisoning
 764            764  12/22/2004 12:00:00 AM   BRONX  Food Poisoning
 860            860  05/10/2004 12:00:00 AM   BRONX  Food Poisoning
 873            873  05/04/2004 12:00:00 AM   BRONX  Food Poisoning
 884            884  12/03/2004 12:00:00 AM   BRONX  Food Poisoning
 909            909  06/04/2004 12:00:00 AM   BRONX  Food Poisoning
 953            953  05/19/2004 12:00:00 AM   BRONX  Food Poisoning
 1211          1211  12/03/2004 12:00:00 AM   BRONX  Food Poisoning
 1257          1257  05/28/2004 12:00:00 AM   BRONX  Food Poisoning
 1402          1402  05/14/2004 12:00:00 AM   BRONX  Food Poisoning
 1494          1494  08/11/2004 12:00:00 AM   BRONX  Food Poisoning
 1712          1712  09/11/2004 12:00:00 AM   BRONX  Food Poisoning
 1848          1848  10/13/2004 12:00:00 AM   BRONX  Food Poisoning
 1851          1851  12/08/2004 12:00:00 AM   BRONX  Food Poisoning
 1868          1868  12/16/2004 12:00:00 AM   BRONX  Food Poisoning
 1972          1972  08/26/2004 12:00:00 AM   BRONX  Food Poisoning
 2032          2032  06/28/2004 12:00:00 AM   BRONX  Food Poisoning
 2227          2227  06/22/2004 12:00:00 AM   BRONX  Food Poisoning
 2316          2316  10/12/2004 12:00:00 AM   BRONX  Food Poisoning
 2328          2328  07/14/2004 12:00:00 AM   BRONX  Food Poisoning
 2451          2451  11/15/2004 12:00:00 AM   BRONX  Food Poisoning
 2520          2520  11/06/2004 12:00:00 AM   BRONX  Food Poisoning
 2614          2614  09/24/2004 12:00:00 AM   BRONX  Food Poisoning
 2843          2843  11/23/2004 12:00:00 AM   BRONX  Food Poisoning
 2847          2847  07/13/2004 12:00:00 AM   BRONX  Food Poisoning
 ...            ...                     ...     ...             ...
 161523      161523  02/17/2010 09:32:36 AM   BRONX  Food Poisoning
 161553      161553  02/18/2010 10:01:21 AM   BRONX  Food Poisoning
 161617      161617  02/21/2010 03:40:00 PM   BRONX  Food Poisoning
 161665      161665  02/23/2010 11:02:46 AM   BRONX  Food Poisoning
 161714      161714  09/11/2017 12:00:00 AM   BRONX  Food Poisoning
 161756      161756  02/25/2010 03:04:20 PM   BRONX  Food Poisoning
 161761      161761  02/25/2010 03:56:13 PM   BRONX  Food Poisoning
 161834      161834  03/02/2010 12:27:36 AM   BRONX  Food Poisoning
 161838      161838  03/02/2010 07:21:09 AM   BRONX  Food Poisoning
 161936      161936  03/07/2010 03:47:24 PM   BRONX  Food Poisoning
 162017      162017  03/10/2010 02:31:35 PM   BRONX  Food Poisoning
 162032      162032  03/11/2010 06:40:18 PM   BRONX  Food Poisoning
 162045      162045  03/04/2010 03:48:57 PM   BRONX  Food Poisoning
 162065      162065  03/04/2010 04:34:02 PM   BRONX  Food Poisoning
 162086      162086  03/14/2010 11:42:02 AM   BRONX  Food Poisoning
 162109      162109  03/15/2010 01:26:33 PM   BRONX  Food Poisoning
 162111      162111  03/15/2010 10:08:33 AM   BRONX  Food Poisoning
 162115      162115  03/15/2010 01:40:59 PM   BRONX  Food Poisoning
 162161      162161  03/16/2010 11:10:59 AM   BRONX  Food Poisoning
 162197      162197  03/12/2010 07:20:57 AM   BRONX  Food Poisoning
 162202      162202  03/12/2010 03:44:06 PM   BRONX  Food Poisoning
 162280      162280  03/25/2010 12:39:18 PM   BRONX  Food Poisoning
 162292      162292  03/18/2010 03:14:40 PM   BRONX  Food Poisoning
 162343      162343  09/18/2017 12:00:00 AM   BRONX  Food Poisoning
 162378      162378  03/22/2010 04:56:56 PM   BRONX  Food Poisoning
 162409      162409  03/23/2010 02:46:36 PM   BRONX  Food Poisoning
 162433      162433  03/30/2010 11:23:55 AM   BRONX  Food Poisoning
 162523      162523  03/26/2010 09:45:48 AM   BRONX  Food Poisoning
 162545      162545  03/27/2010 06:05:25 PM   BRONX  Food Poisoning
 162643      162643  04/05/2010 02:21:20 PM   BRONX  Food Poisoning

 [4147 rows x 4 columns],
 'QUEENS':         Unnamed: 0                    date borough            type
 84              84  06/09/2004 12:00:00 AM  QUEENS  Food Poisoning
 95              95  08/20/2004 12:00:00 AM  QUEENS  Food Poisoning
 118            118  10/15/2004 12:00:00 AM  QUEENS  Food Poisoning
 132            132  06/21/2004 12:00:00 AM  QUEENS  Food Poisoning
 133            133  07/07/2004 12:00:00 AM  QUEENS  Food Poisoning
 134            134  05/18/2004 12:00:00 AM  QUEENS  Food Poisoning
 136            136  06/17/2004 12:00:00 AM  QUEENS  Food Poisoning
 145            145  10/26/2004 12:00:00 AM  QUEENS  Food Poisoning
 152            152  11/18/2004 12:00:00 AM  QUEENS  Food Poisoning
 154            154  07/02/2004 12:00:00 AM  QUEENS  Food Poisoning
 156            156  04/28/2004 12:00:00 AM  QUEENS  Food Poisoning
 160            160  08/06/2004 12:00:00 AM  QUEENS  Food Poisoning
 162            162  10/25/2004 12:00:00 AM  QUEENS  Food Poisoning
 189            189  12/13/2004 12:00:00 AM  QUEENS  Food Poisoning
 346            346  12/28/2004 12:00:00 AM  QUEENS  Food Poisoning
 360            360  09/28/2004 12:00:00 AM  QUEENS  Food Poisoning
 422            422  08/26/2004 12:00:00 AM  QUEENS  Food Poisoning
 538            538  12/06/2004 12:00:00 AM  QUEENS  Food Poisoning
 551            551  11/18/2004 12:00:00 AM  QUEENS  Food Poisoning
 604            604  10/13/2004 12:00:00 AM  QUEENS  Food Poisoning
 626            626  08/12/2004 12:00:00 AM  QUEENS  Food Poisoning
 655            655  08/09/2004 12:00:00 AM  QUEENS  Food Poisoning
 674            674  05/19/2004 12:00:00 AM  QUEENS  Food Poisoning
 712            712  11/11/2004 12:00:00 AM  QUEENS  Food Poisoning
 810            810  12/14/2004 12:00:00 AM  QUEENS  Food Poisoning
 893            893  10/26/2004 12:00:00 AM  QUEENS  Food Poisoning
 940            940  06/13/2004 12:00:00 AM  QUEENS  Food Poisoning
 954            954  08/04/2004 12:00:00 AM  QUEENS  Food Poisoning
 1034          1034  07/23/2004 12:00:00 AM  QUEENS  Food Poisoning
 1062          1062  11/30/2004 12:00:00 AM  QUEENS  Food Poisoning
 ...            ...                     ...     ...             ...
 162256      162256  03/25/2010 06:05:37 PM  QUEENS  Food Poisoning
 162259      162259  03/25/2010 03:35:43 PM  QUEENS  Food Poisoning
 162267      162267  03/25/2010 12:38:50 PM  QUEENS  Food Poisoning
 162291      162291  03/18/2010 04:45:58 PM  QUEENS  Food Poisoning
 162298      162298  03/18/2010 11:13:16 AM  QUEENS  Food Poisoning
 162299      162299  03/18/2010 10:17:13 AM  QUEENS  Food Poisoning
 162362      162362  03/22/2010 05:54:13 PM  QUEENS  Food Poisoning
 162366      162366  03/22/2010 07:28:24 PM  QUEENS  Food Poisoning
 162376      162376  03/22/2010 12:40:03 PM  QUEENS  Food Poisoning
 162380      162380  03/22/2010 12:28:30 PM  QUEENS  Food Poisoning
 162398      162398  03/23/2010 10:23:49 AM  QUEENS  Food Poisoning
 162408      162408  03/23/2010 11:48:36 AM  QUEENS  Food Poisoning
 162423      162423  03/30/2010 10:51:31 AM  QUEENS  Food Poisoning
 162454      162454  03/31/2010 10:08:16 AM  QUEENS  Food Poisoning
 162455      162455  03/31/2010 09:58:39 AM  QUEENS  Food Poisoning
 162457      162457  03/31/2010 11:45:27 PM  QUEENS  Food Poisoning
 162478      162478  04/01/2010 02:55:02 PM  QUEENS  Food Poisoning
 162522      162522  03/26/2010 10:50:28 AM  QUEENS  Food Poisoning
 162526      162526  03/26/2010 10:22:37 AM  QUEENS  Food Poisoning
 162528      162528  03/27/2010 10:09:41 AM  QUEENS  Food Poisoning
 162539      162539  03/26/2010 12:20:49 PM  QUEENS  Food Poisoning
 162552      162552  03/27/2010 09:42:04 PM  QUEENS  Food Poisoning
 162568      162568  03/28/2010 02:53:20 PM  QUEENS  Food Poisoning
 162587      162587  03/29/2010 03:27:29 PM  QUEENS  Food Poisoning
 162651      162651  04/05/2010 12:43:58 PM  QUEENS  Food Poisoning
 162654      162654  04/05/2010 12:49:20 PM  QUEENS  Food Poisoning
 162666      162666  04/06/2010 04:09:18 PM  QUEENS  Food Poisoning
 162674      162674  04/06/2010 12:50:48 PM  QUEENS  Food Poisoning
 162682      162682  04/06/2010 10:41:55 AM  QUEENS  Food Poisoning
 162687      162687  04/06/2010 11:15:45 AM  QUEENS  Food Poisoning

 [8136 rows x 4 columns],
 'MANHATTAN':         Unnamed: 0                    date    borough            type
 88              88  06/02/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 91              91  06/07/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 105            105  08/15/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 107            107  09/28/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 135            135  05/26/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 138            138  05/10/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 143            143  08/03/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 147            147  09/28/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 187            187  06/24/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 191            191  05/14/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 192            192  12/07/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 201            201  04/21/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 229            229  12/13/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 237            237  04/26/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 255            255  05/21/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 256            256  05/17/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 260            260  08/27/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 264            264  07/08/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 271            271  07/15/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 279            279  06/21/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 292            292  05/19/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 304            304  12/15/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 334            334  10/08/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 340            340  11/17/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 357            357  07/12/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 476            476  08/11/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 480            480  08/02/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 489            489  11/08/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 497            497  05/14/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 515            515  12/08/2004 12:00:00 AM  MANHATTAN  Food Poisoning
 ...            ...                     ...        ...             ...
 162430      162430  03/30/2010 09:07:52 PM  MANHATTAN  Food Poisoning
 162431      162431  03/30/2010 03:41:58 PM  MANHATTAN  Food Poisoning
 162435      162435  03/30/2010 12:29:57 PM  MANHATTAN  Food Poisoning
 162439      162439  03/30/2010 08:55:46 PM  MANHATTAN  Food Poisoning
 162449      162449  03/30/2010 11:20:37 AM  MANHATTAN  Food Poisoning
 162466      162466  03/31/2010 12:37:33 PM  MANHATTAN  Food Poisoning
 162489      162489  04/01/2010 03:42:30 PM  MANHATTAN  Food Poisoning
 162495      162495  04/01/2010 02:47:52 PM  MANHATTAN  Food Poisoning
 162519      162519  03/26/2010 12:07:15 PM  MANHATTAN  Food Poisoning
 162524      162524  03/26/2010 08:17:15 AM  MANHATTAN  Food Poisoning
 162532      162532  03/26/2010 01:09:34 PM  MANHATTAN  Food Poisoning
 162536      162536  03/26/2010 01:47:35 PM  MANHATTAN  Food Poisoning
 162540      162540  03/26/2010 01:36:45 PM  MANHATTAN  Food Poisoning
 162542      162542  03/26/2010 02:04:15 PM  MANHATTAN  Food Poisoning
 162548      162548  03/27/2010 03:57:25 PM  MANHATTAN  Food Poisoning
 162550      162550  03/27/2010 02:36:59 PM  MANHATTAN  Food Poisoning
 162553      162553  03/28/2010 12:28:22 AM  MANHATTAN  Food Poisoning
 162555      162555  03/27/2010 09:42:59 PM  MANHATTAN  Food Poisoning
 162569      162569  03/28/2010 04:57:18 PM  MANHATTAN  Food Poisoning
 162582      162582  03/29/2010 09:04:01 PM  MANHATTAN  Food Poisoning
 162583      162583  03/29/2010 06:49:17 PM  MANHATTAN  Food Poisoning
 162591      162591  03/29/2010 10:57:09 AM  MANHATTAN  Food Poisoning
 162604      162604  04/02/2010 12:18:21 PM  MANHATTAN  Food Poisoning
 162611      162611  04/03/2010 10:22:03 AM  MANHATTAN  Food Poisoning
 162615      162615  04/03/2010 11:09:08 PM  MANHATTAN  Food Poisoning
 162627      162627  04/04/2010 06:37:09 PM  MANHATTAN  Food Poisoning
 162629      162629  04/04/2010 04:27:43 PM  MANHATTAN  Food Poisoning
 162649      162649  04/05/2010 09:37:31 AM  MANHATTAN  Food Poisoning
 162684      162684  04/06/2010 01:45:57 PM  MANHATTAN  Food Poisoning
 162691      162691  04/06/2010 11:05:15 AM  MANHATTAN  Food Poisoning

 [15551 rows x 4 columns],
 'STATEN ISLAND':         Unnamed: 0                    date        borough            type
 109            109  11/01/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 148            148  10/25/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 219            219  07/10/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 268            268  08/10/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 439            439  11/29/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 473            473  07/01/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 775            775  12/30/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 1015          1015  06/29/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 1053          1053  05/28/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 1361          1361  11/03/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 2099          2099  05/18/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 2351          2351  08/03/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 3045          3045  06/20/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 3741          3741  12/14/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 3939          3939  11/30/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 4060          4060  12/02/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 4239          4239  07/02/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 4411          4411  06/30/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 4590          4590  11/19/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 4773          4773  08/21/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 4776          4776  12/20/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 4791          4791  12/21/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 4933          4933  11/29/2004 12:00:00 AM  STATEN ISLAND  Food Poisoning
 5238          5238  01/11/2005 12:00:00 AM  STATEN ISLAND  Food Poisoning
 5249          5249  06/03/2005 12:00:00 AM  STATEN ISLAND  Food Poisoning
 5274          5274  01/25/2005 12:00:00 AM  STATEN ISLAND  Food Poisoning
 5276          5276  05/23/2005 12:00:00 AM  STATEN ISLAND  Food Poisoning
 5297          5297  06/21/2005 12:00:00 AM  STATEN ISLAND  Food Poisoning
 5394          5394  02/16/2005 12:00:00 AM  STATEN ISLAND  Food Poisoning
 5563          5563  06/30/2005 12:00:00 AM  STATEN ISLAND  Food Poisoning
 ...            ...                     ...            ...             ...
 161132      161132  02/05/2010 12:13:21 PM  STATEN ISLAND  Food Poisoning
 161169      161169  02/06/2010 10:51:13 PM  STATEN ISLAND  Food Poisoning
 161228      161228  02/01/2010 11:09:16 AM  STATEN ISLAND  Food Poisoning